.places {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}
.places h1 {
  font-size: 30px;
  flex-basis: 100%;
}

.places h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}
.article-header {
  display: flex;
  justify-content: center;
}
.article-header > h2 {
  margin: 0 auto;
}
.price_by_night {
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  color: #ff5a5f;
}
.information {
  display: flex;
  justify-content: center;
  height: 80px;
  border-top: 1px solid#DDDDDD;
  margin-top: 10px;
  border-bottom: 1px solid#DDDDDD;
  background-repeat: no-repeat;
  padding-top: 5px;
}
.information > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information p {
  margin-top: 30px;
  font-weight: bold;
}
.max_guest {
  background: url(../images/icon_group.png) no-repeat top center;
  width: 100px;
}
.number_rooms {
  background-image: url(../images/icon_bed.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100px;
}
.number_bathrooms {
  background-image: url(../images/icon_bath.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100px;
}
.user {
  margin: 1em 0;
}
.description {
  line-height: 1.4;
}
